:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --color-dark-brown: #4d4729;
  --color-olive: #7e8341;
  --color-light-olive: #9ea868;
  --color-beige: #c7c9a9;
  --color-light-blue: #b1cecc;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-light-olive);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-light-olive);
  height: 50px;
}

.navLink {
  font-size: 12px;
  background-color: rgb(234, 255, 244);
  color: black;
  text-decoration: none;
  border: none;
  padding: 6px;
  border-radius: 8px;
  width: 90px;
  height: 20px;
  margin-top: 0px;
  text-align: center;
  box-shadow: 3px 3px 1px 1px var(--color-beige);
  transition: box-shadow 0.5s ease-in-out;
}

.navLink:hover {
  background-color: var(--color-dark-brown);
  box-shadow: 3px 3px 1px 1px var(--color-light-olive);
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.loader {
  border: 20px solid rgba(243, 243, 243, 0.817);
  border-top: 20px solid #34db8790;
  border-bottom: 20px solid #34db879c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  right: 47%;
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
