.addTodo{
  border-radius: 5px;
  background-image: url('../../img/5555.jpg');

}

.addClients{
  
  
}

.button-add{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin-left: 35px;
  font-size: 12px;
  background-image: url('../../img/5555.jpg');
  /* color: var(--color-text); */
  background-color: var(--color-dark);
  transition: color 0.3s ease-in-out,
   background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
    cursor: pointer;
  }

.button-add:hover {
  color: rgb(48, 47, 47);
  background-color: var(--color-light); 
  box-shadow: 3px 3px 0 1px var(--color-signal); 

}