.tabs {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
 

}
.clientcard-wrapper {
  width: 1200px; /* Устанавливаем фиксированную ширину */
  margin-top: 400px/* Центрируем по горизонтали */
}

.tabs button {
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 8px 15px;
  margin-left: 3px;
}

.tabs button:hover {
  background-color: var(--color-dark-brown);
  color: rgb(255, 255, 255);
}

.tabs button:active {
  background-color: var(--color-dark-green);
}

.clientcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.data-container {
  /* margin-top: 20px; */
  background-image: url('../../img/5555.jpg');
  border-radius: 4px;
  padding: 20px;
  max-width: 1000px;
  /* position: fixed; */
  margin-bottom: 50%;
  margin-right: 0%;
  max-height: 800px;
  overflow-y: auto;
}

.habit-cont {
  overflow: auto;
  margin-top: 20px;
}

.data-container-parameter {
  width: 1200px;

  background-image: url('../../img/5555.jpg');
  padding: 20px; /* Добавляем отступы для лучшего визуального эффекта */
}


.data-text {
  display: flex;
  flex-wrap: wrap;
}

.data-text > div {
  flex: 1;
  padding: 10px;
  border: 2px solid green;
  border-radius: 5px;
  margin: 20px;
  max-width: 500px;
  box-sizing: border-box;
  font-size: 25px;
  
}

.data-text h2 {
  font-size: 1.4em;
  margin-bottom: 8px;
  width: 100%;
}
