.habit-title{

}

.habit-input{
height: 20px;
}

.habit-container{
  display: flex;
  overflow: auto;
  max-width: 1000px;
  justify-content: space-between; 
  padding: 0px 10px 5px 0px;
  border-radius: 5px;
  overflow-y: auto;

}
.habit-container-new{
  display: flex;
  max-width: 900px;
}
.habit-title{

}
.habit-checkbox{
  width: 20px;
 

}
.habit-add{
  display: flex;
  border-radius: 5px;
  border: none;
}
.habbit-button{
  width: 80px;
  height: 36px;
  background-color: #4caf50;
  color:white;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
}
.habit-delete{
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  border: none;
}
.habit-div{
  display: flex;
  flex-direction:column;
  border-radius: 5px;
}