.myButton {

  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 5px;
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.myButton:hover {
  background-color: #43a047;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
