:root {
  background-color: rgba(214, 223, 242, 0.954);
  --color-light: rgba(126, 159, 229, 0.954);
  --color-dark: rgba(12, 67, 185, 0.954, 0.954);
  --color-signal: rgba(12, 220, 235, 0.954);
  --color-background: rgb(100, 97, 97);
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.column {
  flex-direction: column;
}

.login.input {
  width: 200px;
  height: 30px;
  border: unset;
  border-radius: 15px;
  text-align: center;
  outline: none;
}

.input__label {
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 15px;
  color: var(--color-light);
  bottom: 32px;
  right: 0px;
  font-size: 13px;
  padding: 3px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
}
.login.input:focus + .input__label {
  transform: translate(-6rem, -70%) scale(1.2);
  color: var(--color-signal);
  background-color: var(--color-background);
}

.login.input:focus {
  box-shadow: 3px 5px 0 0 var(--color-signal);
  color: var(--color-light);
  font-size: 16px;
}

.error {
  min-height: 25px;
  background-color: rgba(255, 255, 255, 0.213);
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px;
}

.error.visible {
  opacity: 1;
}

.error.invisible {
  opacity: 0;
}

button.login {
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

button.login:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
  box-shadow: 3px 3px 0 1px var(--color-signal);
}
