.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.column {
  flex-direction: column;
}

.input {
  width: 80%;
  height: 30px;
  border: unset;
  border-radius: 15px;
  text-align: center;
  outline: none;
}

.input__label {
  display: block;
  position: relative;
  background-color: transparent;
  border-radius: 15px;
  color: var(--color-light);
  bottom: 32px;
  right: 0px;
  font-size: 13px;
  padding: 3px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.5s ease-in-out;
}
.reg.input:focus + .input__label {
  transform: translate(-6rem, -70%) scale(1.2);
  color: var(--color-signal);
  background-color: var(--color-background);
}

.reg.input:focus {
  box-shadow: 3px 5px 0 0 var(--color-signal);
  color: var(--color-light);
  font-size: 16px;
}

.error {
  min-height: 25px;
  background-color: rgba(255, 255, 255, 0.213);
  transition: opacity 0.5s ease-in-out;
  border-radius: 5px;
}

.error.visible {
  opacity: 1;
}

.error.invisible {
  opacity: 0;
}

button.reg {
  color: var(--color-light);
  background-color: var(--color-dark);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

button.reg:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
  box-shadow: 3px 3px 0 1px var(--color-signal);
}
